build
*~
*.deb
*.build
*.debian.tar.xz
*.dsc
*.changes
*.orig.tar.*
src/obj-x86_64-linux-gnu/
src/debian/*.log
src/debian/*.substvars
src/debian/dhmk*
src/debian/dontpanic
src/debian/dontpanic-common
src/debian/dontpanic-i18n
src/debian/files
src/debian/libdontpanic
src/debian/libdontpanicclient
src/debian/dontpanikpart
src/debian/dontpanik
src/debian/plasma-dataengine-dontpanic
src/debian/plasma-widget-dontpanic
src/debian/stamp-man-pages
src/debian/tmp

