<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="dontpanik_part" version="2">
<MenuBar>
  <Menu name="edit"><text>&amp;Edit</text>
    <Action name="edit_projects" />
    <Action name="edit_tasks" />
  </Menu>
  <Menu name="view"><text>&amp;View</text>
    <Action name="view_day" />
    <Action name="view_reports" />
  </Menu>
  <Menu name="action"><text>&amp;Actions</text>
    <Action name="add_action" />
    <Separator />
    <Action name="start_new_action" />
    <Action name="stop_current_action" />
    <Action name="continue_last_action" />
  </Menu>
</MenuBar>
<ToolBar name="viewToolbar"><text>View Toolbar</text>
  <Action name="view_day" />
  <Action name="view_reports" /> 
</ToolBar>
<ToolBar name="actionToolbar"> <text>Action Toolbar</text>
  <Separator />
  <Action name="add_action" />
  <Separator />
  <Action name="start_new_action" />
  <Action name="stop_current_action" />
  <Action name="continue_last_action" /> 
</ToolBar>
</kpartgui>
