<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="dontpanik_part" version="2">
<MenuBar>
  <Menu name="edit">
    <Action name="edit_projects" />
    <Action name="edit_worktypes" />
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar">
 <Separator/>
</ToolBar>
</kpartgui>
