[Desktop Entry]
Name=DontPanicPart
Name[ko]=DontPanic 부분
Name[nds]=DontPanicKomponent
Name[ru]=Компонент DontPanic
Name[sr]=DontPanic део
Name[sr@latin]=DontPanic deo
Name[sv]=DontPanic-delprogram
Name[x-test]=xxDontPanicPartxx
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=libdontpanicpart
Type=Service
X-Ubuntu-Gettext-Domain=desktop_kdesdk
