#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Don't Panik
Name[x-test]=xxDontPanikxx
Exec=dontpanik %i %m -caption "%c"
Icon=dontpanik
Type=Application
DocPath=dontpanik/index.html
GenericName=A personal time tracker
GenericName[de]=Eine persönliche Zeiterfassung
Terminal=0
X-Ubuntu-Gettext-Domain=desktop_kdesdk
